<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="<%= config.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="referrer" content="always" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>
      <%= config.title %>
    </title>
  </head>

  <body>
    <%- await include(`${Deno.cwd()}/views/header.ejs`, session)%>
    <%- await include(page, data) %>
    <%- await include(`${Deno.cwd()}/views/footer.ejs`, session)%>
  </body>
</html>
