<div id="main">
  <div id="content">
    <div class="panel">
      <div class="header">用户信息</div>
      <div class="body user-profile">
        <div class="register-time">注册于：<%= user.createdAt %></div>
        <img class="avatar" src="<%= user.avatar %>" alt="<%= user.name %>" />
        <div class="name">
          <span><%= user.nickName %></span
          ><a href="https://github.com/<%= user.githubName %>" class="github"
            >@<%= user.name %></a
          >
        </div>
        <ul class="counters">
          <li>
            <h6>积分</h6>
            <span><%= user.score %></span>
          </li>
          <li>
            <h6>主题</h6>
            <span><%= user.topicCount %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
