<% if (user) { %>
<div class="panel panel-user-info">
  <div class="header"><%=title%></div>
  <div class="body">
    <a href="/user/<%=user.name%>"><img src="<%=user.avatar%>" alt=""/></a>
    <div style="float: left;">
      <a href="/user/<%=user.name%>" class="name"><%=user.nickName%></a>
      <div class="score">积分: <span><%=user.score%></span></div>
    </div>
    <div class="bio">
      “ <%=user.signature%> ”
    </div>
  </div>
</div>
<% } %>
